@import '~common/css/variable.styl'
body,html
  height 100%
  user-select none
  touch-action pan-y
.van-picker__confirm
  color $theme-red !important
.van-dialog__confirm
  color $theme-red !important